
.copyright {
    margin: 0px, auto, 2px, auto;
    color:rgb(101, 85, 125);
    font-weight: 500;
    text-align: center;
    position: fixed;
    left: 0px;
    bottom: 0px;
    right: 0px;
    /* background-color: blue; */
}

/* ---------------------------NAVBAR--------------------------- */


.nav-list{
    display: flex;
    justify-content:space-evenly;
    gap: 1rem;
    margin: 3.4%;
    padding: 0;
    list-style: none;
    border-style: solid;
}

.nav-list li {
    flex-grow: 1;
    flex-shrink: 1;
}

.nav-corner {
    width: 350px;
    border-style:solid;
    border-color: blue;
    display: inline-block;
    z-index: 3;
}

.nav-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color:rgb(180, 144, 234);
    margin: .8%;
    display: inline-block;
}

.nav-image:hover {
    border-color:aqua;
}

.nav-title {
    display: inline-block;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 34px;
    color: rgb(250, 227, 191);
}

.nav-pink{
    background: linear-gradient(0.25turn,purple, rgb(255, 112, 212));
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 2;
    border-style: solid;
}

.nav-items{
    display: inline-block;
    width: 70%;
}

@media (min-width: 830px) {
    .nav-list {
        justify-content: flex-start;
    }
}


/* -------------------PRODUCTS--------------------------- */

.container {
    position: absolute;
    top: 200px;
    left: 10px;
    right: 10px;
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    background: white;
    /* justify-content: space-evenly;
    gap: 1rem; */
    height: auto;
    border-style: solid;
}

.product-full {
    /* background-color: black; */
}
.product-title {
    text-align: center;
    font-family: 'Just Me Again Down Here', cursive;
    color: rgb(185, 61, 150);
    background-color: blue;
    font-size: 3rem;
    position: relative;
    top: 120px;
}

.product {
    /* display: inline-block; */
    padding: 1.4%;
    text-align: center;
    font-family: 'Just Me Again Down Here', cursive;
    font-size: 1.3rem;
    height: 24%;
    width: 20%;
    margin: 1%;
    position: relative;
    top: 200px;
    background-color: #e0dfdf;
    border-style: solid;
    border-radius: 4%;
    border-color: rgb(96, 0, 128);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.prod-img {
    height: 54%;
    width: 60%;
    border: solid;
    border-width: 5px;
    border-radius: 4%;
    border-color: rgb(96, 0, 128);
}