* {
  box-sizing: border-box;
}

body {
    background: rgb(173, 43, 43);
}

Navbar.Brand {
    font-size: 100px;
}

.bg-myRed{
    background: linear-gradient(0.25turn,purple, rgb(255, 112, 212));
}

.copyright {
    margin: 0, auto, 5px, auto;
    color:rgb(101, 85, 125);
    font-weight: 500;
    text-align: center;
    position: sticky;
    left: 0;
    bottom: 0;
    right: 0;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.nav-text {
    color: rgb(250, 227, 191);
    font-family: 'Just Me Again Down Here', cursive;
        /* font-family: 'Shrikhand', cursive; */
}

.navbar-brand {
    color: rgb(250, 227, 191);
}

.nav-link {
    border-style:solid;
    margin: 5px;
}

.product {
    /* box-shadow: 0, 4px, 8px, 0, rgba(0, 0, 0, 0.2); */
    padding: 16px;
    text-align: center;
    height: 350px;
    width: 275px;
    margin: 50px;
    background-color: #e0dfdf;
    border-style: solid;
    border-radius: 4%;
    border-color: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* @media screen and (max-width: 600px)

.column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
} */

.prodimg {
    height: 200px;
    width: 200px;
    padding: 10px;
    border: solid;
    border-width: 5px;
    border-radius: 4%;
    border-color: green;
}