.title {
    text-align: center;
    margin-top: 30px;
    color:rgb(58, 7, 58);
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.content {
    text-align: center;
    line-height: 1.6;
    padding: 2rem;
    color:rgb(58, 7, 58);
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}