.full {
    background-color: rgb(210, 240, 210);
    height: 120vh;
}

.title {
    text-align: center;
    padding-top: 30px;
    color:rgb(58, 7, 58);
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.product_title {
    font-size: 2.6rem;
    font-family: 'Montserrat', sans-serif;
}

.image {
    width: 200px;
    height: 200px;
    margin-top: 15px;
    border: 3px;
    border-style: solid;
    border-color: silver;
    border-radius: 5%;
}

.card {
    width: 250px;
    height: 350px;
    margin: 10px;
    line-height: 20px;
    background-color: rgb(92, 118, 172);
    border-radius: 5%;
    box-shadow: 0px 2px 8px 2px rgba(0, 0, 0, .2);
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: antiquewhite;
}

.button {
    padding: 10px;
    margin-top: -10px;
    border-radius: 20px;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}