.title {
    text-align: center;
}

.content {
    text-align: center;
    color: rgb(58, 7, 58);

}

button {
    border-radius: 10%;
    color:white;
    background-color: blue;
}

.inputText {
    text-align: center;
    border: none;
}

form input:focus {
    outline: none;
    border: none;
}

input {
    align-items: center;
}

