.title {
    text-align: center;
    margin-top: 30px;
    color:rgb(58, 7, 58);
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
}

.content {
    text-align: center;
    line-height: 1.6;
    padding: 2rem;
    color:rgb(58, 7, 58);
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}

button {
    border-radius: 10px;
    color:antiquewhite;
    background-color: rgb(109, 32, 172);
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(58, 7, 58);
}

.inputText {
    text-align: center;
    margin-top: -30px;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

form input:focus {
    outline: none;
    border: none;
}

input {
    align-items: center;
    width: 400px;
}

.socials {
    margin-top: 300px;
    color: rgb(109, 32, 172)
}

.socials_container {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: space-evenly;
}

.socials i:hover {
    color: rgb(58, 7, 58);
    font-size: 2rem;
    cursor: pointer;
}

